In [1]:
import numpy as np

In [2]:
data = np.random.rand(2,2)
data = data*10
data

array([[7.75139264, 3.09436669],
       [4.32403542, 8.86267694]])

In [3]:
data.dtype

dtype('float64')

In [4]:
data = data.astype(int)

In [5]:
data.dtype

dtype('int32')

In [18]:
arr = np.array([[1,2,3,4,5],[1,2,3,4,5]]) 
arr.shape

(2, 5)

In [13]:
import numpy as np

# Generate random data for 250 persons
names = np.random.choice(['John', 'Jane', 'Bob', 'Alice'], size=250)
ages = np.random.randint(18, 80, size=250)
heights = np.random.normal(175, 15, size=250)
weights = np.random.normal(70, 15, size=250)
genders = np.random.choice(['M', 'F'], size=250)

# Save the data to a CSV file
data = np.stack([names, ages, heights, weights, genders], axis=1)
header = 'Name,Age,Height,Weight,Gender'
np.savetxt('person_data.csv', data, delimiter=',', header=header, fmt='%s')

In [17]:
import pandas as pd
# Read the CSV file into a DataFrame
df = pd.read_csv('person_data.csv')

# Print the DataFrame
df

      Name  Age      Height     Weight Gender
0     Jane   46  167.840545  94.494311      M
1     Jane   72  156.441350  86.849039      F
2     John   30  165.634336  75.534931      M
3     Jane   53  152.920236  63.496831      F
4    Alice   47  193.170067  76.612382      F
..     ...  ...         ...        ...    ...
245  Alice   56  178.323306  42.710527      M
246   Jane   48  176.275461  75.380905      M
247   Jane   77  157.955258  90.721156      M
248  Alice   51  157.689438  79.652108      M
249   John   53  142.826069  48.806278      M

[250 rows x 5 columns]