Importing the Dependencies

In [1]:
import pandas as pd
import numpy as np
import sklearn
from sklearn.model_selection import train_test_split,KFold,cross_val_score
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score

Importing data file

In [2]:
st = pd.read_csv("student-mat.csv", sep=',')

In [3]:
st.shape

(395, 33)

In [4]:
st.head()

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,at_home,other,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,health,services,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,other,other,...,4,3,2,1,2,5,4,6,10,10

In [5]:
st.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861,10.908861,10.713924,10.415190
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096,3.319195,3.761505,4.581443
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000,3.000000,0.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000,8.000000,9.000000,8.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000,11.000000,11.000000,11.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000,13.000000,13.000000,14.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000,19.000000,19.000000,20.000000

In [6]:
st = st[["G1","G2","G3","age","Medu","Fedu","absences","studytime","freetime"]]

In [7]:
X = st.drop("G3",axis=1)
y = st["G3"]
X

     G1  G2  age  Medu  Fedu  absences  studytime  freetime
0     5   6   18     4     4         6          2         3
1     5   5   17     1     1         4          2         3
2     7   8   15     1     1        10          2         3
3    15  14   15     4     2         2          3         2
4     6  10   16     3     3         4          2         3
..   ..  ..  ...   ...   ...       ...        ...       ...
390   9   9   20     2     2        11          2         5
391  14  16   17     3     1         3          1         4
392  10   8   21     1     1         3          1         5
393  11  12   18     3     2         0          1         4
394   8   9   19     1     1         5          1         2

[395 rows x 8 columns]

In [151]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.pipeline import Pipeline
from sklearn.preprocessing import StandardScaler
from sklearn import set_config

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

steps = [
    ('scalar',StandardScaler()),
    ('regressor', RandomForestRegressor())
]

set_config(display="diagram")
# Create pipeline
pipeline = Pipeline(steps)

pipeline

Pipeline(steps=[('scalar', StandardScaler()),
                ('regressor', RandomForestRegressor())])

In [152]:

# Fit pipeline to training data
pipeline.fit(x_train, y_train)

prediction = pipeline.predict(x_test)

print("Accuracy on the training set: {:.3f}".format(pipeline.score(x_train,y_train)))
print("Accuracy on the test set: {:.3f}".format(pipeline.score(x_test,y_test)))

kfold = KFold()

scores = cross_val_score(pipeline,X,y,cv=kfold)

print("Cross Validation scores: ",scores)
print("Average CV Score: {:.3f}".format(scores.mean()))

Accuracy on the training set: 0.984
Accuracy on the test set: 0.853
Cross Validation scores:  [0.8468575  0.83900815 0.85404023 0.87558917 0.81905568]
Average CV Score: 0.847