In [1]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [5]:
# Load the Ether price data from a CSV file
data = pd.read_csv("ETH-USD.csv")
data

,Date,Open,High,Low,Close,Adj Close,Volume
0,2019-12-09,151.224396,151.913940,147.621368,148.225174,148.225174,6744206747
1,2019-12-10,148.179855,148.564468,144.907959,146.267044,146.267044,6859512025
2,2019-12-11,146.320648,147.139206,143.045364,143.608002,143.608002,7037180049
3,2019-12-12,143.615662,145.751648,141.436981,145.604004,145.604004,7890383413
4,2019-12-13,145.655685,145.857101,143.746521,144.944748,144.944748,7264810247
...,...,...,...,...,...,...,...
1092,2022-12-05,1279.998901,1302.237549,1252.472412,1259.676758,1259.676758,6120359523
1093,2022-12-06,1259.854248,1271.923218,1247.629883,1271.653809,1271.653809,5089212680
1094,2022-12-07,1271.553101,1272.694092,1224.447998,1232.437500,1232.437500,5752205180
1095,2022-12-08,1232.451782,1286.229736,1226.358521,1281.116333,1281.116333,6227269815
1096,2022-12-09,1281.186646,1288.512817,1270.645386,1276.412598,1276.412598,6830555648

In [32]:
data["Date"] = pd.to_numeric(data["Date"] )
data["Date"]

0       1575849600000000000
1       1575936000000000000
2       1576022400000000000
3       1576108800000000000
4       1576195200000000000
               ...
1092    1670198400000000000
1093    1670284800000000000
1094    1670371200000000000
1095    1670457600000000000
1096    1670544000000000000
Name: Date, Length: 1097, dtype: int64

In [33]:
# Create a new feature that represents the time difference between each data point
data["time_diff"] = data["Date"].diff()
data

,Date,Open,High,Low,Close,Adj Close,Volume,time_diff
0,1575849600000000000,151.224396,151.913940,147.621368,148.225174,148.225174,6744206747,NaN
1,1575936000000000000,148.179855,148.564468,144.907959,146.267044,146.267044,6859512025,8.640000e+13
2,1576022400000000000,146.320648,147.139206,143.045364,143.608002,143.608002,7037180049,8.640000e+13
3,1576108800000000000,143.615662,145.751648,141.436981,145.604004,145.604004,7890383413,8.640000e+13
4,1576195200000000000,145.655685,145.857101,143.746521,144.944748,144.944748,7264810247,8.640000e+13
...,...,...,...,...,...,...,...,...
1092,1670198400000000000,1279.998901,1302.237549,1252.472412,1259.676758,1259.676758,6120359523,8.640000e+13
1093,1670284800000000000,1259.854248,1271.923218,1247.629883,1271.653809,1271.653809,5089212680,8.640000e+13
1094,1670371200000000000,1271.553101,1272.694092,1224.447998,1232.437500,1232.437500,5752205180,8.640000e+13
1095,1670457600000000000,1232.451782,1286.229736,1226.358521,1281.116333,1281.116333,6227269815,8.640000e+13
1096,1670544000000000000,1281.186646,1288.512817,1270.645386,1276.412598,1276.412598,6830555648,8.640000e+13

In [34]:
# Select the features to use in the model
features = ["Close", "time_diff"]
data[features]

            Close     time_diff
0      148.225174           NaN
1      146.267044  8.640000e+13
2      143.608002  8.640000e+13
3      145.604004  8.640000e+13
4      144.944748  8.640000e+13
...           ...           ...
1092  1259.676758  8.640000e+13
1093  1271.653809  8.640000e+13
1094  1232.437500  8.640000e+13
1095  1281.116333  8.640000e+13
1096  1276.412598  8.640000e+13

[1097 rows x 2 columns]

In [35]:
train_data = data[:-100]
test_data = data[-100:]

In [37]:
model = RandomForestRegressor()
model.fit(train_data[features], train_data["Close"])

ValueError: Input X contains NaN.
RandomForestRegressor does not accept missing values encoded as NaN natively. For supervised learning, you might want to consider sklearn.ensemble.HistGradientBoostingClassifier and Regressor which accept missing values encoded as NaNs natively. Alternatively, it is possible to preprocess the data, for instance by using an imputer transformer in a pipeline or drop samples with missing values. See https://scikit-learn.org/stable/modules/impute.html You can find a list of all estimators that handle NaN values at the following page: https://scikit-learn.org/stable/modules/impute.html#estimators-that-handle-nan-values